---
const year = new Date().getFullYear();
---

<footer>
  <div class="footer-inner">
    <span class="footer-text">Freelance presentation designer in Los Angeles, CA.</span>
    <span class="footer-text">© {year} Tina Ohanian. All rights reserved.</span>
  </div>
</footer>
